{% extends "base.html" %}

{% block head %}
<title>task list</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>task list</h2>
    {% if tasks|length < 1 %}
    <p>no tasks yet</p>
    {% else %}
    <table class="table">
        <tr>
            <th>task</th>
            <th>date</th>
            <th>actions</th>
        </tr>
        
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>
                <a href="/update/{{ task.id }}">update</a><br>
                <a href="/delete/{{ task.id }}">delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" required>
        <input type="submit" value="add">
    </form>
</div>        
{% endblock %}
